.parametros-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-container {
  margin-bottom: 20px;
}

.parametros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.parametros span {
  display: block;
  margin-bottom: 10px;
}

.parametros input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

button {
  box-shadow: inset 0px 16px 5px 6px #02912d;
  background-color: #003d05;
  border-radius: 42px;
  border: 6px solid #024a02;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 21px;
  padding: 17px 18px;
  text-decoration: none;
  text-shadow: -14px -15px 19px #77ff00;
  margin-top: 20px;
}

button:hover {
  background-color: #086d17;
}

button:active {
  position: relative;
  top: 1px;
}

@media (max-width: 600px) {
  .parametros {
    grid-template-columns: 1fr;
  }

  button {
    width: 100%;
    text-align: center;
  }
}
