.datos-tiempo-real {
    background-color: #2b5d34;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .datos-tiempo-real h2 {
    margin-top: 0;
  }
  
  .datos-tiempo-real ul {
    list-style-type: none;
    padding: 0;
  }
  
  .datos-tiempo-real li {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .datos-tiempo-real li::before {
    content: "• ";
    color: #1abc9c;
  }
  